<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete a Book</title>
  </head>
  <body>
    <header></header>
    <main>
      <form method="POST">
        <!-- Security token -->
        {% csrf_token %}
        <p>Are you sure you want to delete{{ book.author }}?</p>
        <input type="submit" value="delete" />
      </form>
    </main>
  </body>
</html>
