{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Detail</title>
  </head>

  <body>
    <header></header>
    <main>
      <div class="books-card">
        <p style="font-size: larger; color: blue">{{ book.title }}</p>
        <p>author: {{ book.author }}</p>
        <p>pages: {{ book.pages }}</p>
        <p>ISBN: {{ book.isbn }}</p>
        {% if book.image %}
        <img src="{{ book.image }}" alt="book cover" width="200" height="300" />
        {% endif %}
        <p>{{ book.description }}</p>

        <a href={% url 'delete_book' book.pk %}>
          <button type="Button">delete</button>
        </a>

        <a href="{% url 'edit_book' book.pk %}">
          <button type="Button">edit</button>
        </a>
      </div>
    </main>
  </body>
</html>
