<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Genre Detail</title>
  </head>
  <body>
    <header></header>
    <main>
      <ol>
        {% for magazine in magazine.genre.all %}
        <li>{{ magazine.title }}</li>
        {% endfor %}
      </ol>
    </main>
  </body>
</html>
